body {
    background-color: darkgray;
}

.jumbotron {
    background: rgb(133, 54, 54);
}

.display-3 {
    font-family: 'Times New Roman', Times, serif;
}

.col-md-4 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}