.jumbotron {
    background: rgb(133, 54, 54);
}

.display-3 {
    font-family: 'Times New Roman', Times, serif;
}

.container
.row {
    background-image: url(https://www.pexels.com/photo/brown-brick-wall-207142/);
}