body {
    background-color: rgba(20, 0, 0, 0.562);
}

.jumbotron {
    background-image: url(https://www.google.com/search?q=css+background+images&rlz=1C1CHBF_enUS816US816&tbm=isch&source=iu&ictx=1&fir=LS_h9x9_Sr6YGM%253A%252Cp2-9bMb9KOD1HM%252C_&usg=AI4_-kQuqXwJ8oSO4Gk9kEOg6KOUCY45Gw&sa=X&ved=2ahUKEwid8J_B2b3eAhVjNn0KHRApBKQQ9QEwBXoECAQQBA#imgrc=LS_h9x9_Sr6YGM:);
    color: rgb(77, 77, 77);
}

.display-3 {
    font-family: 'Times New Roman', Times, serif;
}

.col-md-4 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}